<%- include('../partials/header') %>
<main class="index-main">
    <article>
        <h2 class="index-main-article">Upcoming shows</h2>
        <h3 class="index-main-article">None planned yet</h3>
    </article>
    <article>
        <h2 class="index-main-article">Videos</h2>
        <article class="index-main-article"><iframe src="https://www.youtube.com/embed/watch?v=y2vlvKvzBEk" allowfullscreen></iframe></article>
    </article>
    <article class="index-main-article">
        <img src="../images/ExanFoto.jpg" alt="">
    </article>
</main>
<%- include('../partials/footer') %>