/*Whole webpage*/
body{
  font-family: "Great Vibes", sans-serif;
  margin: 0;
  padding: 2%;
  background-color: #000000;
  color: white;
  line-height: 1.6;
  overflow-x: hidden;
}
h1, p{
  align-content: center;
  justify-content: center;
}
h1{
  padding-right: 1%;
  font-size: xx-large;
}
h2{
  font-size: x-large;
}
h3{
  font-size: large;
}
footer h2, .index-main-article, #logoHeader{
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Header */
header ul{
  width: 100%;
}
header, header ul{
  display: flex;
}
header li{
  margin-right: 5%;
}
#logoHeader{
  width: 15%;
}

/* Main */
.index-main article{
  padding: 2rem;
}